.priceChart {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 400px;
  height: 300px;
}

@media (max-width: 1023px) {
  .priceChart {
    max-height: 250px;
    height: 180px;
    width: 100%;
  }
}
